.table__cell_btn {
	padding: 0px 15px;
	height: 30px;
	font-size: 12px;
	line-height: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: box-shadow, background-color 0.2s linear;
}

.table__cell_btn:not(.disabled):hover {
	box-shadow: var(--box-shadow);
	color: #fff;
	background-color: var(--color-title);
}

.table__cell_btn.disabled {
	color: var(--color-disabled);
}
