.table__body {
}

.table__row:nth-child(odd) {
	background-color: var(--color-odd);
}

.table__row {
	display: grid;
	grid: auto-flow / var(--width-column);
	text-decoration: none;
	border-top: 1px solid var(--color-3);
	color: #323c47;
	transition: background-color 0.2s linear;
}

.table__row:hover {
	cursor: pointer;
	background-color: var(--color-row-hover);
	color: #fff;
}

.table__cell {
	grid: auto-flow / var(--width-cell);
	display: grid;
	height: 30px;
	font-size: 12px;
	line-height: 13px;
}

.table__cell .table__cell_field {
	display: flex;
	padding: 0px 15px;
	align-items: center;
	min-width: 0;
	flex: 1;
}

.table__cell .table__cell_field .table__cell_field-nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
