.table__cell_input_button {
  display: grid !important;
  grid-template-columns: auto repeat(calc(1 + var(--button-delete)), 30px);
  align-items: unset !important;

  & .table__cell_input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 15px;
    color: #000;
    display: flex;
    align-items: center;
  }
}
