.table__cell {
  grid: auto-flow / var(--width-cell);
  display: grid;
  min-height: 30px;
  font-size: 12px;
  line-height: 8px;

  & .table__cell_field {
    display: flex;
    padding: 0px 15px;
    align-items: center;
    min-width: 0;
    flex: 1;

    & .table__cell_field-nowrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 2;
    }
  }
}
