.table__cell_input {
  display: grid !important;
  grid-template-columns: auto repeat(var(--button-delete), 30px);
  align-items: unset !important;

  & input {
    border: 0px !important;
    width: 100% !important;
    height: 30px !important;
    padding: 5px 15px !important;
    outline: none !important;
    box-sizing: border-box !important;
    margin: 0px !important;

    &:hover {
      background-color: var(--color-4);
    }
  }
}
