.table {
  --box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);

  --color-title: #37474f;
  --color-selected: rgba(55, 71, 79, 0.6);
  --color-row-hover: #6679a3;
  --color-3: #dae6ff;
  --color-4: #c2cfe0;
  --color-odd: rgba(217, 217, 217, 0.3);
  --color-disabled: #a2a2a2;

  --color-selected-row: #434f89;
}
