.table__row:nth-child(odd) {
	background-color: var(--color-odd);
}

.table__row {
	display: grid;
	grid: auto-flow / var(--width-column);
	text-decoration: none;
	border-top: 1px solid var(--color-3);
	color: #323c47;
	transition: background-color 0.2s linear;
}

.table__row.selected-row {
	background-color: var(--color-selected-row);
	color: #fff;
}

.table__row:hover {
	cursor: pointer;
	background-color: var(--color-row-hover);
	color: #fff;
}
